{% extends 'base.html' %}
{% load static staticfiles %}

{% block content %}
  <div class="uk-child-width-expand@s" uk-grid id="app">
    <div class="uk-grid-item-match">
      <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
        <h3 class="uk-heading-line uk-text-center">{{ object.name }}</h3>
        <img src="{{ object.file.url }}" width="500" height="100" alt="preview">
        <hr class="uk-divider-icon">
        <h4 class="uk-heading-line"><span><img src="{% static 'img/artist.svg' %}" width="30" height="30"
                                               class="uk-margin-small-right"
                                               uk-svg> {{ _("Artist") }}</span></h4>
        <p>
          {{ object.artist|default:_("No information given") }}
        </p>
        <h4 class="uk-heading-line"><span><img src="{% static 'img/description.svg' %}" width="30" height="30"
                                               class="uk-margin-small-right"
                                               uk-svg> {{ _("Description") }}</span></h4>
        <p>
          {{ object.description|default:_("No information given") }}
        </p>
      </div>
    </div>
    <div>
      <h3 class="uk-heading-line uk-text-center"><span>{{ _("Recommendations for painting") }}</span></h3>
      <div>
        <h4>{{ _("Dominating colours") }}:</h4>
        <div class="uk-grid  uk-child-width-1-4@s">
          {% for colour in object.colours %}
            <div>
              <div class="uk-flex uk-flex-center uk-flex-middle uk-border-circle"
                   style="background: {{ colour }}; color: #ffffff; width:120px; height: 120px">
                {{ colour }}
              </div>
            </div>
          {% endfor %}
        </div>
        <h4>{{ _("Recommended tools for painting") }}:</h4>
        <h3 class="uk-heading-line"><span><img src="{% static 'img/brush.svg' %}" width="30" height="30"
                                               class="uk-margin-small-right"
                                               uk-svg> {{ _("Brushes") }}</span>
        </h3>
        <p>
          {{ _("Type") }}: bright<br/>
          {{ _("Material") }}: natural pony<br/>
          {{ _("Sizes") }}: 4-9
        </p>
        <h3 class="uk-heading-line"><span><img src="{% static 'img/palette.svg' %}" width="30" height="30"
                                               class="uk-margin-small-right"
                                               uk-svg> {{ _("Paints") }}</span>
        </h3>
        <p>
          {{ _("Type") }}: oil paints
        </p>
      </div>
    </div>
  </div>
{% endblock content %}